<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.classorganizer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Courses"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".FullRoutine" />
        <activity
            android:name=".CourseDetails"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".AboutUsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FeedbackActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Teacher"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Student"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>